.total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-container {
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
