/* Write your CSS here */
.logout-button {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 15px;
  color: #303150;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 10px;
}
